body {
    margin-left: 10vw;
    margin-top: 5vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 10vw;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table tr td:last-child {
    width: 3vw;
}

.title {
    background-color: #5099eff2;
    font-size: large;
    color: white;
    text-transform: capitalize;
}

#patientID {
    color: #5099eff2;
    border-color: lightslategray;
    border-width: thin;
}

input {
    width: 16vw;
    border-color: #5099eff2;
    border-style: solid;
    border-width: thin;
    margin-right: 0.3vw;
    height: 3.5vh;
}

#addPath {
    width: 6vw;
    background-color: #5099eff2;
    color: white;
}

#search {
    width: 5vh;
    margin-bottom: -2vh;
}

h1 {
    color: #5099eff2;
}
#saveLocations{
    margin-top: 3vh;
    margin-left: 29vw;
}